<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando dados entre componentes não parentes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">

        <br><br><br><br><br>

        <div class="container">
            <input-form></input-form>
            <br>
            <my-list></my-list>
        </div>
    </div>

    <template id="form">
        <div class="card">
            <div class="card-block">
                <div class="form-group">
                    <label for="">Título</label>
                    <input v-model="title" type="text" class="form-control">
                </div>
                <button v-on:click.stop.prevent="submit()" class="btn btn-primary">ENVIAR</button>
            </div>
        </div>
    </template>

    <template id="list">
        <ul class="list-group">
            <li v-for="item in list" class="list-group-item">{{ item.title }}</li>
        </ul>
    </template>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        Vue.component('input-form', {
            template: '#form',
            data() {
                return {
                    title: '',
                }
            },

            methods: {
                submit() {
                    this.$eventHub.$emit('submit', this.title);
                }
            }
        });

        Vue.component('my-list', {
            template: '#list',
            created() {
                var vm = this;
                this.$eventHub.$on('submit', function(title) {
                    if (title) {
                        vm.list.push({ title: title });
                    }
                });
            },
            data() {
                return {
                    list: [
                        { title: "Ir a feira" },
                    ]
                }
            }
        });

        Vue.prototype.$eventHub = new Vue();

        var app = new Vue({
            el: "#app",

            data: {
                titulo: "Vuejs do jeito ninja!"
            }
        });
    </script>
</body>
</html>